Repository ansys/ansys-tools-local-product-launcher, pull requests merged in 2024-10, with the labels that each got.

#197 fix: uploading docs require user and email
  .github/workflows/ci_cd.yml
Labels: bug, maintenance

#198 Update AUTHORS and CONTRIBUTORS.md
  AUTHORS
  CONTRIBUTORS.md
Labels: maintenance

#200 Remove upper bounds on dependencies
  .pre-commit-config.yaml
  CODE_OF_CONDUCT.md
  LICENSE
  doc/source/conf.py
  poetry.lock
  pyproject.toml
Labels: documentation, maintenance

#202 Drop Python 3.9 support
  .github/workflows/ci_cd.yml
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  src/ansys/tools/local_product_launcher/_cli.py
  src/ansys/tools/local_product_launcher/_plugins.py
  src/ansys/tools/local_product_launcher/config.py
  src/ansys/tools/local_product_launcher/helpers/grpc.py
  src/ansys/tools/local_product_launcher/interface.py
  tests/pkg_with_entrypoint/pyproject.toml
  tests/test_cli/test_single_plugin.py
  tests/test_integration/simple_test_launcher.py
  tox.ini
Labels: maintenance
